<div class="popup @(isShowModal?"":"popup_none")">
    <div class="popup_body">
        <div class="popup_content">
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool isShowModal { get; set; }
}
