@page "/answers/category/add"
@inject NavigationManager NavigationManager
@inject ICategoryAnswerService CategoryAnswerServic
@inject ICategoryAnswerService CategoryAnswerService
<div class="background_category">
<h2>Add Category</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="category.Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary" @onclick="@Create">Save</button>
                <button class="btn btn-danger" @onclick="@Cancel">Cancel</button>
            </div>
        </div>
    </div>
</form>
</div>
@code {
    Domain.Models.HelpWord.Category category = new Domain.Models.HelpWord.Category();
    void Create()
    {
        CategoryAnswerServic.Create(category);
        NavigationManager.NavigateTo("answers/category",true);
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("answers/category",true);
    }
}