@page "/answers/category/edit/{id:long}"
@inject ICategoryAnswerService CategoryAnswerService
@inject NavigationManager NavigationManager
<div class="background_category">
<h2>Edit Category</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@category.Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>
</div>
@code {
    [Parameter]
    public long Id { get; set; }

    Domain.Models.HelpWord.Category category = new Domain.Models.HelpWord.Category();

    protected override async Task OnInitializedAsync()
    {
        category = await Task.Run(() => CategoryAnswerService.GetById(Id));
    }
    void Update()
    {
        CategoryAnswerService.Update(category);
        NavigationManager.NavigateTo("answers/category",true);
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("answers/category",true);
    }
}