@page "/chat/{userName}"
@inject ITelegramService TelegramService
@inject IBotService BotService;

<PageTitle>Chat</PageTitle>
@if (!string.IsNullOrEmpty(token))
{
    <div class="common_block">
        <div class="main_block">
            <SelectChat OnClickCallback="@GetMessages" token="@token"></SelectChat>
        </div>
        <div class="main_block_two">
            <Messages chatModel="chatModel" token="@token"></Messages>
        </div>
        <div class="main_block_three">
            <PartnerInfo chatModel="chatModel"></PartnerInfo>
        </div>
    </div>
}

@code {
    [Parameter]
    public string userName { get; set; }

    public string? token;
    public Domain.Models.Chat chatModel;


    protected override async Task OnInitializedAsync()
    {
        token = BotService.GetByUsername(userName)?.Token;
    }

    private void GetMessages(long ChatId)
    {
        chatModel = TelegramService.GetChatsByIdIncludeMessages(ChatId);
    }
}
