.common_block{
    display:flex;
}


    .common_block .main_block, .main_block_two, .main_block_three {
        max-height: 95vh;
    }


.main_block {
    width: 27%;
    min-width: 300px;
    background: #3c3b3b;
    height: 100vh;
    border-radius: 3% 0% 0% 3%;
    position: relative;
    padding-bottom: 50px;
}





.main_block_two {
    width: 50%;
    background: #3c3b3b;
    height: 100vh;
    margin-left: 0%;
    border: 2px solid #444343;
    position: relative;
}




.main_block_three {
    width: 27%;
    background: #3c3b3b;
    height: 100vh;
   
    border-radius: 0% 3% 3% 0%;
}


.twoBlock {
    width: 100% !important;

}

.threeBlock{
    display: none !important;
}