<div class="popup @(isShowModal?"":"popup_none")">
    <div class="popup_body">
        <div class="popup_content">
            <a @onclick="CloseModal" class="popup_close">
                <img src="/Images/icons/close.svg">
            </a>
<div>
    <div class="edit_answer">
        <h2> Edit answer</h2>
        <p>Fill all the fields below to edit the answer </p>
    </div>
    <div >
        <p>Answer name </p>
        <input class="edit_answer_input" type="text" placeholder="Just asking"/>
    </div>
    <div class="edit_answer_select">
        <p>Categorie</p>
         <select>
           <option>Hello-bye </option>
          <option>All </option>
           <option>All </option>
       </select>
    </div>
    <div class="categorie_block">
        <p>Categorie </p>
        <input type="text" placeholder="Hi, how are you? Any results with the ELM_EA?"/>
    </div>
      <div class="input_file">
    
        <input  type="file" />
    </div>
</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool isShowModal { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    public void CloseModal()
    {
        OnClickCallback.InvokeAsync();
    }
}
