
.companion_block {
    height: 11%;
    border-bottom: 1px solid #808080;
    display:flex;
}

.companion_img {
    width: 80px;
    height: 60px;
    display: table-cell;
    float: left;
}

.companion_picture {
    border-radius: 50%;
    margin-top: 10px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin: 12px;
}
.name_and_last_block{
    display:block;
    width:50%;
}
.companion_picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name_companion {
    color: #808080;
    padding-top: 15px;
    color: #FFFFFF;
}

.last_online {
    color: #808080;
    
}
.up_button_block {
    width: 40%;
     display: flex;
    align-items: center;
    justify-content: center;
}
    .up_button_block button {
        width: 35px;
        height: 35px;
        margin: 5px;
        border-radius: 5px;
        border:none;
        background-color: #3c3b3b;
    }
.up_button_block_first {
    background-image: url("/Images/icons/box.svg");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.up_button_block_second {
    background-image: url("/Images/icons/time.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.up_button_block_third {
    background-image: url("/Images/icons/setings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.up_button_block_fourth {
    background-image: url("/Images/icons/info.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.up_button_block_fifth {
    background-image: url("/Images/icons/arrow-left.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.twoBlock .up_button_block_fifth {
    background-image: url("/Images/icons/arrow-right.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}





.block_correspondence {
    max-height: 71vh;
    overflow: auto;
    height: inherit;
}

.data_correspondence {
    color: #808080;
    text-align: center;
}

.sender_message {
   
  /*  margin: 20px;*/
    width:100%;
    display:flex;
  
}

.img_sender_message {
    width: 80px;
    height: 60px;
    display: table-cell;
    float: left;
}

.picture_sender_message {
    margin-top: 10px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50%;
}
    .picture_sender_message img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .text_block_sender {
        background: #3f3f3f;
        width: auto;
        height: auto;
        max-width: 70%;
        border: 1px solid #808080;
        display: table;
        padding: 0px 10px 0px 10px;
        margin-top: 15px;
        float: left;
        border-radius: 8px;
    }
    .text_block_sender p {
        color: azure;
        font-size: 16px;
      
    }


.sender_message_right {
    /* margin: 20px;*/
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

    .sender_message_right .img_sender_message {
        width: 80px;
        height: 60px;
        display: table-cell;
        float: right;
        order:1;
    }

    .sender_message_right .picture_sender_message {
        border-radius: 50%;
        margin-top: 10px;
        background: #ffffff;
        width: 50px;
        height: 50px;
        margin: 12px;
    }

    .sender_message_right .text_block_sender {
        background: #ffffff;
        width: auto;
        height: auto;
        max-width: 75%;
        border: 1px solid #ffffff;
        display: table;
        padding: 0px 10px 0px 10px;
        margin-top: 15px;
        float: right;
        border-radius: 8px;
    }

        .sender_message_right .text_block_sender p {
            color: #3f3f3f;
            font-size: 16px;
        }

.dialing_sms {
    height: 13vh;
    background: #40484A;
    margin-top: 0px;
}

.dialing_sms_input textarea {
    height: 40px;
    width: 510px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #40484A;
    font-size: 15px;
    font-size: 14px;
    min-height: auto !important;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
}
  
    .sticer_button_block {
        display: flex;
    }
.sticer_block button {
    width: 18px;
    height: 18px;
    margin-left:10px;
    margin-top:12px;
    background-color: #40484A;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.button_attachment {
    background-image: url("/Images/icons/attachment.svg");
 
}
.button_smile {
    background-image: url("/Images/icons/smile.svg");
}
.button_helpworld {
    background-image: url("/Images/icons/helpworld.svg");
}


.send_button {
    width: 80px;
    height: 15px;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    font-size: 15px;
    margin-top: 5px;
}

.send_button button{
    border-radius:7px;
    border:none;
}

.twoBlock .up_button_block {
    justify-content: end;
}

.twoBlock .dialing_sms_input textarea{
    width:80%; 
}

