
.companion_block {
    height: 11%;
    border-bottom: 1px solid #808080;
    display:flex;
}

.companion_img {
    width: 80px;
    height: 60px;
    display: table-cell;
    float: left;
}

.companion_picture {
    border-radius: 50%;
    margin-top: 10px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin: 12px;
}
.name_and_last_block{
    display:block;
    width:50%;
}
.companion_picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name_companion {
    color: #808080;
    padding-top: 15px;
    color: #FFFFFF;
}

.last_online {
    color: #808080;
    
}
.up_button_block {
    width: 40%;
     display: flex;
    align-items: center;
    justify-content: center;
}
    .up_button_block button {
        width: 35px;
        height: 35px;
        margin: 5px;
        border-radius: 5px;
        border:none;
        background-color: #3c3b3b;
    }
.up_button_block_first {
    background-image: url("/Images/icons/box.svg");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.up_button_block_second {
    background-image: url("/Images/icons/time.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.up_button_block_third {
    background-image: url("/Images/icons/setings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.up_button_block_fourth {
    background-image: url("/Images/icons/info.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.up_button_block_fifth {
    background-image: url("/Images/icons/arrow-left.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.twoBlock .up_button_block_fifth {
    background-image: url("/Images/icons/arrow-right.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.dropdown_block_ontop {
    height: 40px;
    background: #FFFFFF40;
    display:flex;
}
    .dropdown_block_ontop p {
        color: #FFFFFF;
        font-size: 16px;
        padding-top:6px;
        padding-left:10px;
    }

        .dropdown_block_ontop p a {
            color: #FFFFFF;
            font-size: 16px;
        }
        .dropdown_block_ontop div {
            background-image: url(/Images/icons/close.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 12px;
            height: 12px;
            margin-right: 20px;
            margin-top: 12px;
            margin-left: auto;
        }




.block_correspondence {
    max-height: 63vh;
    overflow: auto;
    height: inherit;
}

.block_correspondence_mini {
    max-height: 36.5vh;
}

.data_correspondence {
    color: #808080;
    text-align: center;
    margin-top:15px;
}

.sender_message {
   

    width:100%;
    display:flex;
    margin-top:15px;
    
 
 
  
}

.img_sender_message {
    width: 80px;
    height: 60px;
    display: table-cell;
    float: left;
}

.picture_sender_message {
    margin-top: 10px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50%;
}
    .picture_sender_message img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .text_block_sender {
        background: #3f3f3f;
        width: auto;
        max-width:300px;
        height: auto;
        max-width: 70%;
        border: 1px solid #808080;
        display: table;
        padding: 0px 10px 0px 10px;
        margin-top: 15px;
        float: left;
        border-radius: 8px;
    }
    .text_block_sender p {
        color: azure;
        font-size: 16px;
      
    }


.time_correspondence_left {
    color: #FFFFFF40;
    font-size: 14px;
    margin-left: 80px;
    margin-top: 0.5%;
  
}

.time_correspondence_right {
    color: #FFFFFF40;
    font-size: 14px;
   float:right;
    margin-top: 0.5%;
    margin-right:83px;
}

.sender_message_right .time_correspondence {
    float: right;
}



.message_picture {
    width: 70px;
    margin: auto;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
}

.message_picture img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.sender_message_right .ImageBlock {
    order: 1;
}
.sender_message_right .message_picture {
    order: 0;
}


.sender_message:hover .message_picture {
    opacity: 1;
}

.sender_message_right:hover .message_picture {
    opacity: 1;
}


.message_picture_none {
    opacity: 0;
}


.sender_message_right {
    /* margin: 20px;*/
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.sender_message:hover .message_hover_block {
    opacity: 1;
   
}

.sender_message_right:hover .message_hover_block {
    opacity: 1;
}
.message_hover_block {
    width: 70px;
    margin: auto;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
}

.message_hover_block_none{
    opacity:0;
}

.message_hover_block img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.sender_message_right .img_sender_message {
    width: 80px;
    height: 60px;
    display: table-cell;
    float: right;
    order: 2;
}

    .sender_message_right .picture_sender_message {
        border-radius: 50%;
        margin-top: 10px;
        background: #ffffff;
        width: 50px;
        height: 50px;
        margin: 12px;
    }

.sender_message_right .text_block_sender {
    background: #ffffff;
    width: auto;
    max-width: 300px;
    height: auto;
    max-width: 75%;
    border: 1px solid #ffffff;
    display: table;
    padding: 0px 10px 0px 10px;
    margin-top: 15px;
    float: right;
    border-radius: 8px;
    order: 1;
}

        .sender_message_right .text_block_sender p {
            color: #3f3f3f;
            font-size: 16px;
        }

.dialing_sms {
    height: 14vh;
    background: #40484A;
    position: absolute;
    bottom: 0;
    width:100%;
}

.inserted_pictures {
    display: flex;
    width: 100%;
    height: 12vh;
    
    background: #40484A;
    
}

    .inserted_pictures:hover .button_close_img{
        opacity:1;
    }

    .inserted_pictures div {
        width: 60px;
        height: 60px;
        margin: 10px;
        position: relative;
    }

        .inserted_pictures div img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         
        }
        .inserted_pictures div button {
            background: #00000080;
            width: 20px;
            height: 18px;
            border-radius: 50%;
            border: none;
            position: absolute;
            top:8%;
            right:9%;
        }

            .inserted_pictures div button img {
                width: 9px;
                height: 9px;
                display:block;
                margin-right:5px;
            }
.button_close_img_none{
    opacity:0;
}


.dropdown_block {
    width: 100%;
    height: 28vh;
    border: 2px solid #FFFFFF1A;
    background: #40484A;
}

.fast_answersx_block {
    display: flex;
    margin: 15px;
    margin-bottom:5px;
    width: 100%;
    height:28px;
    flex-flow: row wrap;
}

    .fast_answersx_block p {
        font-size: 14px;
        color:#FFFFFF;
       
    }

    .fast_answersx_block div {
        background-image: url("/Images/icons/close.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        margin-right:38px;
        margin-left:auto;
    }

.fast_anwers_button {
    margin-top: 6px;
    margin-left: 10px;
    overflow:auto;
    height:16.3vh;
}

    .fast_anwers_button button {
        background:  #FFFFFF40;
        width:48.5%;
        height:30px;
        margin:3px;
        margin-right:0px;
        border:none;
        border-radius:6px;

    }

    .input_fast_anwers input {
        border: 2px solid #FFFFFF1A;
        background: #40484A;
        width: 97%;
        margin-left: 15px;
    }

.dialing_sms_input textarea {
    height: 40px;
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #40484A;
    font-size: 15px;
    font-size: 14px;
    min-height: auto !important;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
}
  
    .sticer_button_block {
        display: flex;
    }
.sticer_block button {
    width: 18px;
    height: 18px;
    margin-left:10px;
    margin-top:12px;
    background-color: #40484A;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.button_smile {
    background-image: url("/Images/icons/smile.svg");
}
.button_helpworld {
    background-image: url("/Images/icons/helpworld.svg");
}


.send_button {
    width: 80px;
    height: 15px;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    font-size: 15px;
    margin-top: 5px;
}

.send_button button{
    border-radius:7px;
    border:none;
}

.twoBlock .up_button_block {
    justify-content: end;
}

.twoBlock .dialing_sms_input textarea{
    width:98%; 
}

.label-wrapper {
    cursor:pointer;
    display: inline-flex;
}

    .label-wrapper span {
        background-image: url("/Images/icons/attachment.svg");
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 12px;
        background-color: #40484A;
        border: none;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

.dropdown_block_hide{
    display:none;
}

.block_correspondence_attachement{
    height:56vh;
}





