@page "/userStatus"
@inject IJSRuntime JsRuntime
@inject IUserStatusService UserStatusService
<div class="background_category">

    <h1>UserStatus Info</h1>
    @if (userStatus is null)
    {
        <p><em>Loading... !</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr class="">
                    <th>UserStatus Id</th>
                    <th>Name</th>
                    <th>CreateAt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in userStatus)
                {
                    <h1>@item.NameStatus</h1>
                    @foreach (var user in item.Users)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<Domain.Models.UserStatus> userStatus;
    protected override async Task OnInitializedAsync()
    {
        userStatus = await Task.Run(() => UserStatusService.GetAll());
    }

}