@page "/userStatus"
@inject IJSRuntime JsRuntime
@inject IUserStatusService UserStatusService
<div class="background_category">


    @if (userStatus is null)
    {
        <p><em>Loading... !</em></p>
    }
    else
    {
        <div>
            @foreach (var item in userStatus)
            {
                <div class="horizontal_block">
                    <h1>@item.NameStatus</h1>
                    @foreach (var user in item.Users)
                    {
                        <div class="vertical_block">
                            <div>
                           @user.FirstName
                           <div class="lastname">
                           @user.LastName
                           @user.CreateAt
                           </div>
                           </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>

@code {
    List<Domain.Models.UserStatus> userStatus;
    protected override async Task OnInitializedAsync()
    {
        userStatus = await Task.Run(() => UserStatusService.GetAll());
    }

}