@inherits LayoutComponentBase

<PageTitle>TelegramChatBlazor.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu OnClickCallback="ShowAddBot" />
    </div>

    <main>
        <article class="content">
            @Body
            <AddBots isShowModal="isBotShowModal" OnClickCallback="CloseBotModal"></AddBots>
        </article>
    </main>
</div>

@code {
    private bool isBotShowModal = false;

    private void ShowAddBot()
    {
        isBotShowModal = true;
    }

    private void CloseBotModal()
    {
        isBotShowModal = false;
    }
}