.navbar_dark{
    border-color:none;
}


.top-row {
    height: 3.5rem;
    background-color: #3c3b3b;
    border-bottom: 2px solid #FFFFFF0D;
    padding: 0px !important;
    display: flex;
}
.container-fluid .navbar-brand {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: none;
    margin: 0px;
    margin-left: 10px;
    margin-top:8px;
}
.container-fluid {
    width: 100%;
    display: flex;
}

.navbar_togglerz_icon {
    background-image: url(/Images/icons/burger.svg);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.chat_block {
    display: flex;
    text-decoration: none;
    margin-top:10px;
    

}

    .chat_block div {
        background-image: url("/Images/icons/chat.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
       
    }

    .chat_block p {
        font-size: 15px;
        color: azure;
        margin-bottom: 0px;
        overflow-x: hidden;
        margin-left:8px;
    }

.navbar-brand {
    background-image: url(/Images/icons/arrow-right-menu.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item:deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.flex-column{
    margin-top:10px;
}
.Manager_block {
    display: flex;
    text-decoration: none;
    margin-left: 10px;
}

.Manager_block div {
    background-image: url("/Images/icons/Menages.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin-top: 10px;
}

    .Manager_block p {
        font-size: 15px;
        color: azure;
        margin-top: 12px;
        overflow-x: hidden;
        margin-left: 10px;
       
    }

.Category_block {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
}



    .Category_block div {
        background-image: url("/Images/icons/Dashboard.svg");
        background-size: 220%;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        
       
    }

.Category_block p {
    font-size: 15px;
    color: azure;
    margin-top: 6px;
    overflow-x: hidden;
    margin-left: 5px;
}

.filter_block {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
}

.filter_block p {
    font-size: 15px;
    color: azure;
    margin-top: 6px;
    overflow-x: hidden;
    margin-left: 5px;
}

    .filter_block div {
        background-image: url("/Images/icons/filter.svg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        margin: 0px;
    }

.user_block {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
}

    .user_block div {
        background-image: url("/Images/icons/hug-hug.svg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        margin: 0px;
      
    }

.user_block p {
    font-size: 15px;
    color: azure;
    margin-top: 6px;
    overflow-x: hidden;
    margin-left: 5px;
}

.UserStatus_block {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
}

    .UserStatus_block div {
        background-image: url("/Images/icons/user-status.svg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        margin: 0px;
    }

    .UserStatus_block p {
        font-size: 15px;
        color: azure;
        margin-top: 6px;
        overflow-x: hidden;
        margin-left: 5px;
    }

.status_block {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
}
    .status_block div {
        background-image:url("/Images/icons/user.svg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        margin: 0px;
    }
    .status_block p {
        font-size: 15px;
        color: azure;
        margin-top: 6px;
        overflow-x: hidden;
        margin-left: 5px;
    }




.arrow-left {
    background-image: url("/Images/icons/arrow-left-menu.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important;
}

.folder_block {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
}
.folder_img {
    background-image: url("/Images/icons/folder.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    margin: 0px;
}

.folder_text {
    font-size: 15px;
    color: azure;
    margin-top: 6px;
    overflow-x: hidden;
    margin-left: 5px;
}

.plus_block {
    display: flex;
    text-decoration: none;
    margin-left: 13px;
    position: absolute;
    bottom: 0;
}
.plus_block div {
    background-image:url("/Images/icons/plus.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
  
}

    .plus_block p {
        font-size: 15px;
        color: azure;
        overflow-x: hidden;
        margin-left: 5px;
    }




.folders_block {
    display: none;
}

.hide_menu .folders_block {
    display:block;
}

.menu_block {
    display: block;
}

.hide_menu .menu_block {
    display: none;
}


@media screen and (max-device-width:480px){
    .container-fluid a{
        display:none;
    }
    .folder_block {
        width: 30px;
        height: 30px;
        background-image: url(/Images/icons/folder.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right:30px;
    }
    .container-fluid {
        width: 80%;
    }
    


}
