@inject IBotService BotService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar_dark">
    <div class="container-fluid">
        <a href="/" class="chat_block"> 
            <div></div>
            <p>Chat</p>
        </a>
        <a class="navbar-brand @styleArrowButton" @onclick="ShowOrHideLeftTab"></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar_togglerz_icon"></span>
        </button>
    </div>
    <div class="folder_block">
    </div>
</div>
<div class="@styleHideMenu @NavMenuCssClass">
    <div class="menu_block" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div>

               
                <a href="/manager" class="Manager_block">
                    <div> </div>
                    <p>Manager</p>
                </a>
                <a href="/answers/category" class="Category_block">
                    <div> </div>
                    <p>Category</p>
                </a>
                <a href="/filter" class="filter_block">
                    <div> </div>
                    <p>Filter</p>
                </a>


                <a href="/user" class="user_block">
                    <div> </div>
                    <p> User</p>
                </a>

                  <a href="/userStatus" class="UserStatus_block">
                    <div> </div>
                    <p> UserStatus</p>
                </a>
                
                  <a href="/Status" class="status_block">
                    <div> </div>
                    <p> Status</p>
                </a>
            </div>
        </nav>
    </div>

    <div class="folders_block">
        <nav class="flex-column">
            @foreach (var item in Bots)
            {
                <div @onclick="(()=>Redirect(item.UserName))" class="folder_block">
                    <a><div class="folder_img"></div></a>
                    <div class="folder_text">@item.Name</div>
                </div>
            }
            <div>
                <a href="bots" class="plus_block">
                    <div ></div>
                    <p>Add new </p>
                    </a>
            </div>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private List<Domain.Models.Bot> Bots = new List<Domain.Models.Bot>();

    //style class
    public string styleHideMenu = "";
    public string styleArrowButton = "";


    protected override void OnInitialized()
    {
        Bots = BotService.GetAll();
    }


    private void Redirect(string value)
    {
        NavigationManager.NavigateTo("/chat/" + value, true);
    }

    private void ShowOrHideLeftTab()
    {
        if (styleHideMenu == String.Empty && styleArrowButton == String.Empty)
        {
            styleHideMenu = "hide_menu";
            styleArrowButton = "arrow-left";
        }
        else
        {
            styleHideMenu = "";
            styleArrowButton = "";
        }
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
