.common_block{
    display:flex;
}


    .common_block .main_block, .main_block_two, .main_block_three {
        max-height: 88vh;
    }







.main_block {
    width: 26%;
    min-width: 300px;
    background: #3c3b3b;
    height:100vh;
    border-radius: 3%;
 
}

.chats_content {
    max-height: 80vh;
    overflow: auto;
}

.text_messages {
    padding: 10px;
    color: #808080;
    font-size: 20px;
}
.messange_block {
    height: 80px;
    background: #3c3b3b;

}
.avatar {
    width: 80px;
    height: 80px;
    display: table-cell;
    float:left;
    
}
.img_messange {
    border-radius: 50%;
   
    margin-top: 10px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin:12px;
}
.sender_name{
    font-size:15px;
    color:antiquewhite;
    padding-top:15px;
}
.sms_content {
    font-size: 15px;
    color: antiquewhite;
}





.main_block_two {
    width: 43%;
    background: #3c3b3b;
    height: 100vh;
    margin-left: 2%;
    border-radius: 3%;
}
.companion_block {
    height: 11%;
    border-bottom: 2px solid antiquewhite;
}
.companion_img {
    width: 80px;
    height: 80px;
    display: table-cell;
    float: left;
}
.companion_picture {
    border-radius: 50%;
    margin-top: 10px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    margin: 12px;
}
.name_companion {
    color: antiquewhite;
    padding-top: 15px;
}
.last_online {
    color: antiquewhite;
}




.main_block_three {
    width: 26%;
    background: #3c3b3b;
    height: 100vh;
    margin-left: 2%;
    border-radius: 3%;
}