<div class="popup @(isShowModal?"":"popup_none")">
    <div class="popup_body">
        <div class="popup_content">
         <div>
             <img src="/Images/icons/question.svg"/>
           
         </div>
         <div>
             <img src="/Images/icons/copy.svg"/>
         </div>
         <div>
            <img src="/Images/icons/discuss.svg"/>
         </div>
         <div>
             <img src="/Images/icons/select.svg"/>
         </div>
         <div>
             <img src="/Images/icons/delete.svg"/>
         </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool isShowModal { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    public void CloseModal()
    {
        OnClickCallback.InvokeAsync();
    }
}
