<div class="popup @(isShowModal?"":"popup_none")">
    <div class="popup_body">
        <div class="popup_content">
<input autocomplete="off" placeholder="Search language" type="text" class="blazored-typeahead__input "/>
       <div class="checkbox_language">
           <label class="label_radio">
<input class="radio_button" type="radio" name="name1">
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>

     <label class="label_radio">
<input class="radio_button" type="radio" name="name1" />
  
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>
     <label class="label_radio">
<input class="radio_button" type="radio" name="name1" />
  
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>
     <label class="label_radio">
<input class="radio_button" type="radio" name="name1" />
  
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>
     <label class="label_radio">
<input class="radio_button" type="radio" name="name1" />
  
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>
     <label class="label_radio">
<input class="radio_button" type="radio" name="name1" />
  
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>
     <label class="label_radio">
<input class="radio_button" type="radio" name="name1" />
  
<span class="fake"></span>
<span class="text"> grfffdedd</span>

</label>
</div>
</div>
    </div>
</div>

@code {
    [Parameter]
    public bool isShowModal { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    public void CloseModal()
    {
        OnClickCallback.InvokeAsync();
    }
}
